@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'reset.css';
@import 'font.css';
@import 'intellij-prism.css';

html,
body {
  min-width: 100%;
  min-height: 100%;
  font-size: 16px;
}

@media screen and (max-width: 480px) {
  html,
  body {
    font-size: 14px;
  }
}

* {
  /* MW touch highlight 제거 */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

::selection {
  @apply bg-neutral-400/30;
}

.dark ::selection {
  @apply bg-neutral-500/30;
}

.kbar-scrollbar > div::-webkit-scrollbar {
  background: transparent;
  width: 10px;
  height: 10px;
}
.kbar-scrollbar > div::-webkit-scrollbar-thumb {
  @apply bg-neutral-200 hover:bg-opacity-70 dark:bg-neutral-600 dark:hover:bg-opacity-70;
}

ul {
  list-style: none;
}

a {
  font-weight: 600;
  color: #1c7ed6;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}
