@import '@/styles/_layout.scss';

.sidebar-container {
  @include mix.flex(column);
  width: $global-sidebar-width;
  height: calc(100vh - $global-header-height);
  background-color: rgb(255, 220, 220);
}
