@import '@/styles/_layout.scss';

.sidebar-container {
  @include responsive-sidebar;
  @include mix.flex(column);
  height: calc(100vh - $global-header-height);
  border-right: 1px solid $color-gray-300;
  transition: width 0.3s ease-in-out;
}
