@import '@/styles/_layout.scss';

.header-container {
  @include mix.flex(row, space-between, center);
  width: 100%;
  height: $global-header-height;
  padding: 0 3em;
  border-bottom: 1px solid $color-gray-300;
  transition: height 0.3s ease-in-out;
}

.logo {
  margin: 0;
}
