ul {
  li {
    margin-bottom: 4px;
  }
}

img {
  max-width: 100%;
  height: auto;
  margin: 10px 0 20px 0;
  border-radius: 8px;
  align-self: center;
}

pre[class*='language-'] {
  font-size: 14px;

  @include mix.small {
    font-size: 12px;
  }

  code {
    @include mix.custom-slider(var(--prism-selection));
    display: block;
    overflow: auto;
    padding-bottom: 0.4em;
  }
}
