ol,
ul {
  padding-left: 1em;
}

ul {
  li {
    position: relative;
    margin-bottom: 4px;

    &::before {
      content: '•';
      position: absolute;
      top: 0.1em;
      left: -1.2em;
      font-size: 0.8em;
      color: $color-gray-600;
    }
  }
}

img {
  max-width: 100%;
  height: auto;
  margin: 10px 0 20px 0;
  border-radius: 8px;
  align-self: center;
}

pre {
  font-size: 14px;

  @include mix.small {
    font-size: 12px;
  }

  code {
    @include mix.custom-slider(var(--prism-selection));
    display: block;
    overflow: auto;
    padding-bottom: 0.4em;
  }
}

blockquote {
  position: relative;
  padding: 1.2em 0.8em 1.2em 3em;
  margin-block: 1em;
  border-radius: 0.4em;
  background-color: $color-gray-100;

  p:first-child {
    &:before {
      position: absolute;
      content: url('/assets/icons/check.svg');
      top: 1.3em;
      left: 1em;
    }
  }
}
