@import '@/styles/_layout.scss';

.footer-container {
  @include mix.flex(row, flex-start, center);
  width: 100%;
  min-height: $global-footer-height;

  margin-top: 60px;
  border-top: 1px solid $color-gray-300;
}
