@import '@/styles/_layout.scss';

.footer-container {
  @include mix.flex(row, flex-start, center);
  width: 100%;
  height: $global-footer-height;
  margin-top: 60px;
  background-color: rgb(220, 220, 255);
}
